<html>
    <head>
        <title>JOGAMAYA MOTORS</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"">  
        <meta name="google-site-verification" content="ohzUyncO-mpbN2FmWd5_b0E4qPggaEPR3JzPW69pX1E" />                                                                                                 
    </head>  
      <body>
                                                                                                     
          <div class="menu-bar">
          <ul>
                <li><a> <img src="{{ user_image }}" width="150" height="70"></a>

              </li>
              <li><a href="#"><i style="color:red;" class="fa fa-home"></i></i>HOME</a>
                <div class="sub-menu-1"> 
                    <ul>
                      <li class="hover-me"><a href="#"><i style="color:red;"  class="fa fa-id-card-o"></i>About</a><i class="fa fa-angle-right"></i>
                        <div class="sub-menu2">
                            <ul>
                               <li><a href="#"> New EV Store Showroom opens at Bhabanda, Main road Regidi Chakka. with Mutlit Brand Electric Vehicles <br>
                                                We are providing all kind of bike services and dealing with Spare parts <br> we are also converting petrol Vehicles to EV<br>

                                                        Our Brands<br>
                                                           1.KOMAKI<br>
                                                           2.FIDATO<br>
                                                           3.RAFT<br>
                                <br> </a> 
                          

                            </ul>
                        </div>   
                    </li>
                      <li><a href="{{url_for('costumers')}}">costumers</a><i class="fa fa-angle-right"></i></li>
                </ul>
             </div>
             </li>
 

            <li><a href="#"><i style="color:red;" class="fa fa-motorcycle" ></i>KOMAKI-Models</a>
                   <div class="sub-menu-1"> 
                    <ul>
                      <li class="hover-me"><a href="#"><i style="color:red;" class="fa fa-fighter-jet"></i>HighSpeed Bike</a><i class="fa fa-angle-right"></i>
                          <div class="sub-menu2">
                              <ul>
                                 <li><a href="https://tinyurl.com/2x52h8v9" target="_blank" rel="noopener noreferrer">KOMAKI-Ranger</a><i class="fa fa-angle-right"></i></li>
                                 <li><a href="https://tinyurl.com/3c2fca2v" target="_blank" rel="noopener noreferrer">KOMAKI-MX-3</a><i class="fa fa-angle-right"></i></li>
                                 <li><a href="https://tinyurl.com/ycx2d5c6" target="_blank" rel="noopener noreferrer">KOMAKI-Classic</a><i class="fa fa-angle-right"></i></li>
                                 
                              </ul>
                            </div>   
                    </li>


                  <li class="hover-me"><a href="#"><i style="color:red;"  class="fa fa-fighter-jet"></i>HIGHSpeed-Scooter</a><i class="fa fa-angle-right"></i>
                      <div class="sub-menu2">
                            <ul>
                               <li><a href="https://tinyurl.com/ycy93tas" target="_blank" rel="noopener noreferrer">KOMAKI-Venice</a><i class="fa fa-angle-right"></i></li>
                               <li><a href="https://tinyurl.com/ycyt89rf" target="_blank" rel="noopener noreferrer">KOMAKI-SE </a><i class="fa fa-angle-right"></i></li>
                               <li><a href="https://tinyurl.com/prs872p9" target="_blank" rel="noopener noreferrer">KOMAKI-LY </a></li>
                            </ul>
                        </div>   
                    </li>
                          

                  <li class="hover-me"><a href="#"><i style="color:red;"  class="fa fa-truck" ></i>KOMAKI Loader</a><i class="fa fa-angle-right"><i class="fa fa-angle-right"></i></i>
                        <div class="sub-menu2">
                            <ul>
                               <li><a href="https://tinyurl.com/mt3adxdn" target="_blank" rel="noopener noreferrer">KOMAKI CAT</a><i class="fa fa-angle-right"></i></li>
                            </ul>
                        </div>   
                    </li>
                    
                  <li class="hover-me"><a href="#"><i style="color:red;"  class="fa fa-paper-plane-o"></i>LOWSpeed-Scooter</a><i class="fa fa-angle-right"></i>
                        <div class="sub-menu2">
                            <ul>
                               <li><a href="https://tinyurl.com/34vshky6" target="_blank" rel="noopener noreferrer">KOMAKI-XGT KM</a><i class="fa fa-angle-right"></i></li>
                               <li><a href="https://tinyurl.com/2ks8a89n" target="_blank" rel="noopener noreferrer">KOMAKI-VOGUE</a><i class="fa fa-angle-right"></i></li>
                               <li><a href="https://tinyurl.com/4rujnm55" target="_blank" rel="noopener noreferrer">KOMAKI-XGT-VP </a><i class="fa fa-angle-right"></i></li>
                            </ul>
                        </div>   
                    </li>
                </ul>
                </div>
              </li>

<li><a href="#"><i style="color:red;"  class="fa fa-fonticons"></i> </i>FIDATO-Models</a>
<div class="sub-menu-1"> 
  <ul>
    <li class="hover-me"><a href="#"><i style="color:red;" class="fa fa-fighter-jet"></i>FIDATO-HIGHSpeed</a><i class="fa fa-angle-right"></i>
        <div class="sub-menu2">
            <ul>
               <li><a href="https://tinyurl.com/22c345kj" target="_blank" rel="noopener noreferrer">Fidato-future</a><i class="fa fa-angle-right"></i></li>
               <li><a href="https://tinyurl.com/mshy5j3j" target="_blank" rel="noopener noreferrer">Easygo-plus</a><i class="fa fa-angle-right"></i></li>
               <li><a href="https://tinyurl.com/2s9kemzs" target="_blank" rel="noopener noreferrer">Easygo-pro</a><i class="fa fa-angle-right"></i></li>
          </div>   
    </li>

  <li class="hover-me"><a href="#"><i style="color:red;"  class="fa fa-paper-plane-o"></i>FIDATO-LOWSpeed</a><i class="fa fa-angle-right"></i>
      <div class="sub-menu2">
          <ul>
             <li><a href="https://tinyurl.com/289km39j" target="_blank" rel="noopener noreferrer"></i>Fidato-Jugnu</a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://tinyurl.com/rx2pzhz2" target="_blank" rel="noopener noreferrer"></i>Fidato-Easygo</a><i class="fa fa-angle-right"></i></li>
            
          </ul>
      </div>   
  </li>
        
  <li class="hover-me"><a href="#"><i style="color:red;"  class="fa fa-truck" ></i>FIDATO-Loader</a><i class="fa fa-angle-right"></i>
      <div class="sub-menu2">
          <ul>
             <li><a href="https://tinyurl.com/2p8cjph3" target="_blank" rel="noopener noreferrer">Fidato-Loder</a><i class="fa fa-angle-right"></i></li>
          </ul>
      </div>   
  </li>

  </ul>
  </div>
   </li>


    <li><a href="#"><i style="color:red;"  class="fa fa-registered"></i>RAFT</a>
         <div class="sub-menu-1"> 
                 <ul>
                   <li class="hover-me"><a href="#"><i style="color:red;"  class="fa fa-fighter-jet"></i>RAFT-HIGHSpeed</a><i class="fa fa-angle-right"></i>
                     <div class="sub-menu2">
                       <ul>
                           <li><a href="https://tinyurl.com/nbb2debu" target="_blank" rel="noopener noreferrer">Raft-Magnetic</a><i class="fa fa-angle-right"></i></li>
                           <li><a href="https://tinyurl.com/2u83fjm4" target="_blank" rel="noopener noreferrer">Raft-Indus-Pro</a><i class="fa fa-angle-right"></i></li>
                         </div>   
                       </li>

                  <li class="hover-me"><a href="#"><i style="color:red;" class="fa fa-paper-plane-o"></i>RAFT-LOWSpeed</a><i class="fa fa-angle-right"></i>
        <div class="sub-menu2">
                <ul>
                 <li><a href="https://tinyurl.com/yc57ajrd" target="_blank" rel="noopener noreferrer"></i>Raft-Warrior</a><i class="fa fa-angle-right"></i></li>
                 <li><a href="https://tinyurl.com/yswz6hh3" target="_blank" rel="noopener noreferrer"></i>Raft-Jispa</a><i class="fa fa-angle-right"></i></li>
                 <li><a href="https://tinyurl.com/muzsyy69" target="_blank" rel="noopener noreferrer"></i>Raft-Jispa-Nx</a><i class="fa fa-angle-right"></i></li>
            
                    </ul>
                  </div>   
                 </li>
               </ul>
         </div>
    </li>


              <li><a href="#"><i  style="color:red;" class="fa fa-slideshare" ></i></i>SERVICES</a>
                <div class="sub-menu-1"> 
                    <ul>
                      <li><a href="#"><i style="color:red;" class="fa fa-cogs"></i>SpareParts</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="#"><i style="color:red;" class="fa fa-bath"></i>Washing</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="#"><i style="color:red;" class="fa fa-wrench"></i>Mechanic works</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="#"><i style="color:red;" class="fa fa-odnoklassniki"></i>Repair</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="#"><i style="color:green;" class="fa fa-battery-full"></i>Convert Petrol to EV</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>  
              </li>




             
                  
                    </ul>
                </div>   
             </li>
          </ul>  
        </div>
    </body>
     

             
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
           <h2 style="color: darkblue; font-size:40px">JOGAMAYA MOTORS<br>
                   
           <h3 style="color: goldenrod; text-align: left; display:flex; flex-direction: column; align-items: center;"><marquee direction="right" behavior="alternate">
                     Our Mission Statement</marquee></span></h3>
                     <br>
           <p style="text-align: left; display:flex; flex-direction: column; align-items: center; color: #fff; font-family: 'Lucida Grande' 'Trebuchet MS'">
                   To change each and every gasoline two wheeler existing on road by Battery Operated Bikes and Scooters.
    
           <a href="https://tinyurl.com/5f4n34tt" target="_blank" rel="noopener noreferrer" style="text-align: left; display:flex; flex-direction: column; align-items: center; color: #872eecc4;">
                    Address and Contact <i class="fa fa-phone" aria-hidden="true"></i></a>  <br>
                    <p style="text-align: left; display: column; align-items: center; color: black; font-size:25px; font-family: 'Lucida Grande' 'Trebuchet MS'">
                    Bhabandha Main Road, Near S.N.Pur.<br>
                    Regidi Chakka, Ganjam-761003<br>
                    Mob-9124880047 / 9178846660
             
                       

                        <p style="text-align: right;  align-items: inherit; color: black; font-size:15px;" >
                  <br>
        
       
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
  
        @2022 Copyrights | All Rights Reserved Designed jogamayamotors
        </p> 

  
          

      </body>


</html>
